<tr>
  <td class="dream">
    <span class="content"><%= dream.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(dream.created_at) %> ago.
    </span>
  </td>
  <% user = dream.user rescue User.find(dream.user_id) %>
  <% if current_user?(user) %>
  <td>
    <%= link_to "delete", dream, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => dream.content %>
  </td>
  <% end %>
</tr>
