<div class="dashboard">
  <%= render 'dashboard/nav' %>
  <div id="dash_content">
    <h2>Change the World.</h2>
    
    <div id="left">
    </div>
    <div id="main">
    
    </div>    
  </div>
</div>



