<div class="dashboard">
  <ul id="nav">
    <li><a href="/dashboard">Home</a></li>
    <li><a href="/dreams">Dreams</a></li>
    <li><a href="/happiness">Happiness</a></li>
    <li><a href="/change">Change</a></li>
  </ul>
  <div id="dash_content">
    <div id="left">
      
    </div>
    <div id="main">
    
    </div>    
  </div>
</div>

