<div class="dashboard">
  <%= render 'dashboard/nav' %>
  <div id="dash_content">
    <h2>Links</h2>    
      <table class="front" summary="For signed-in users">
        <tr>
          <td class="main">
            <h3 class="highlight">Whats the best resource to learn this subject?</h3>
            <%= render 'shared/link_form' %>
          </td>
        </tr>    
      </table>
      
    <td class="main">
      <% unless @user.links.empty? %>
        <table class="highlights" summary="User highlights">
          <%= render @links %>
        </table>
        <%= will_paginate @links %>
      <% end %>
    </td>  
    
    <div id="left">
    </div>
    <div id="main">
    
    </div>    
  </div>
</div>



