<% if user_signed_in? %>
  <%= render 'dashboard' %>
<% else %>  
  <div class="home">  
    <h1 class="home">Live your Dream. </br>
                     Change the World.</br>
                     Be Happy.
                      </h1>
      <div class="join_button">
        <%= link_to "Join your Dream", new_user_registration_path, :class => "signup_button round"%>
      </div>  
  </div>
<% end %>  
  