<tr>
  <td class="highlight">
    <span class="content"><%= highlight.content %></span>
    <span class="timestamp">
      on <%= (highlight.created_at).to_formatted_s(:short) %>.
    </span>
  </td>
</tr>